<div id="page-top">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#page-top"><img src="assets/img/sgb2.png" alt="..." /></a>
			<!-- Logo chistoso -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
					<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
					<li class="nav-item"><a class="nav-link" href="#team">Equipo</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			<div class="masthead-heading text-uppercase">Sistema de administración de blibliotecas SGB</div>
			<a class="btn btn-primary btn-xl text-uppercase" href="#about">Conocer más acerca del sistema</a>
			<br>
			<br>
			<a class="btn btn-primary btn-xl text-uppercase" href="http://app.biblioteca-awii.cf/login"
				target="_self">Ingresar al SGB</a>
		</div>
	</header>
	<!-- About-->
	<section class="page-section" id="about">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">About</h2>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="subheading">¿Que es SGB?</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted"> SGB es un sistema multi-inquilino pensado para la administración de
								blibiotecas, en donde se podrá realizar la administración del
								inventario en cuanto a libros, la gestión de los préstamos realizados y la gestión de
								usuarios para el uso del sistema.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- Services-->
	<section class="page-section" id="services">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Servicios</h2>
				<br>
				<br>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-book fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="my-3">Gestion de Libros</h4>
					<p class="text-muted">Administra los libros que dispones, lleva un correcto inventario con nosotros.
					</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="my-3">Gestion de Préstamos</h4>
					<p class="text-muted">Manten un control y un orden en los préstamos que tu biblioteca realice</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-users fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="my-3">Gestion de Usuarios</h4>
					<p class="text-muted">Gestiona los usuarios que tendrán acceso a este sistema web.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Team-->
	<section class="page-section bg-light" id="team">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Equipo de trabajo</h2>
				<br>
				<br>
				<br>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/luis.jpeg" alt="..." />
						<h4>Luis Delgado</h4>
						<br>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/toner.jpeg" alt="..." />
						<h4>Antonio Giler</h4>
						<br>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/andres.jpeg" alt="..." />
						<h4>Andrés Mendoza</h4>
						<br>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/moya2.png" alt="..." />
						<h4>Carlos Moya</h4>
						<br>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/pablo.jpeg" alt="..." />
						<h4>Pablo Saltos</h4>
						<br>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="assets/img/team/leo.jpeg" alt="..." />
						<h4>Leonardo Toala</h4>
						<br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<p class="large text-muted"></p>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer-->
	<footer class="footer py-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-lg-start">Copyright &copy; SGB 2021</div>
			</div>
		</div>
	</footer>
	<!-- Portfolio Modals-->
	<!-- Portfolio item 1 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Threads
									</li>
									<li>
										<strong>Category:</strong>
										Illustration
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 2 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Explore
									</li>
									<li>
										<strong>Category:</strong>
										Graphic Design
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 3 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Finish
									</li>
									<li>
										<strong>Category:</strong>
										Identity
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 4 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Lines
									</li>
									<li>
										<strong>Category:</strong>
										Branding
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 5 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Southwest
									</li>
									<li>
										<strong>Category:</strong>
										Website Design
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 6 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
						alt="Close modal" /></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client:</strong>
										Window
									</li>
									<li>
										<strong>Category:</strong>
										Photography
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
									type="button">
									<i class="fas fa-times me-1"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>